.appWrapper {
    margin: 0 auto;
    max-width: 960px;
}
.layerWrapper {
    position: relative;
}
.layer {
    display: block;
    max-width: 100%;
    backface-visibility: hidden;
}
.activeLayer,
.lightingLayer {
    position: absolute;
    top: 0;
}
/* layers */
.backgroundLayer {
    position: static;
    z-index: 0;
}
.activeLayer {
    z-index: 10;
}
.lightingLayer {
    z-index: 20;
}
.hueSliderWrapper {
    position: relative;
    height: 30px;
}
.hueSliderBackground {
    width: 100%;
    height: 100%;
}
.hueSlider {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}